<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="PrimaRestApiUrl" value="https://primaqueryservice.bayer-ag.com/IAMRESTService.svc" />
		<add key="UserId" value="MXAXX" />
		<add key="ApiPassword" value="aSKEiMbzqW#L]DQWs" />
		<add key="DBPassword" value="Sqlserver#$@14455" />
		<!--<add key="ExcludeCwids" value="MYIAMSA,MXOEGX1,MXMOH,SPAAU" />-->
		<add key="ExcludeCwids" value="" />
		<add key="MaxRequestCount" value="1" />
		<!--<add key="Logfilepath" value="C:\IAM-Projects\ImportExcel\ImportExcel\Content\Upload\ApiLogs\2023\" />
		<add key="Logfile_output_path" value="C:\IAM-Projects\ImportExcel\ImportExcel\Content\Upload\ApiLogs\2023\2\" />-->

		<add key="Logfilepath" value="C:\IAM-Projects\API_Log\2023\" />
		<add key="Year" value="23" />
		<add key="Logfile_output_path" value="C:\Users\EHLNF\Documents\subbu\output\" />


	</appSettings>
</configuration>