<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserId" value="MXAXX"/>
		<add key="ApiPassword" value="aSKEiMbzqW#L]DQWs"/>
		<add key="DBPassword" value="Sqlserver#$@14455"/>
		<add key="CsvPath" value="C:\\IAM-Projects\\Ldap_Loader\\Input\\GroupDetails.csv"/>
		
		<add key="JarPath" value="C:\\Users\\EHBWD\\Desktop\\SUBRAMANYAM\\Projects\\LDAP_Loader\\Ldap_files\\LdapManagement.jar"/>
		<add key="JarLdapInputPath" value="C:\\IAM-Projects\\Ldap_Loader\\Output\"/>
	</appSettings>
</configuration>